<h1><%=@article.title%></h1>
</br>
</br>
<h4><%=@article.content%></h4>
</br>
</br>

<form action="/articles/<%=@article.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="text" name="title" placeholder="Title">
<input type="text" name="content" placeholder="Content">
<input type="submit" value="Edit">