<form method="POST" action="/articles">
    <label for="title">Article Title: </label>
    <input type="text" name="title">

    <label for="content">Content: </label>
    <input type="snippet" name="content">

    <input type="submit" id="submit" value="Submit">
</form>