<h1>Create your article</h1></br>

<form action="/articles" method="post">
<label for="articles">create an article</label>
  <h4>Title: <input type="text" name="title"></h4>
  <h4>Content: <input type="text" name="content"></h4>
  <input type="submit" value="Submit">
</form>