<h1><%=@article.title%></h1>
</br>
<h4><%=@article.content%></h4>
</br>
</br>
<form action="/articles/<%=@article.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
